.about {
    padding-top: 100px;

    &-wrap {
        display: flex;
        align-items: center;
        gap: 50px;

        @media screen and (max-width: 875px){
            flex-direction: column;
        }
    }

    &-title {
        font-size: 32px;
        color: white;

        @media screen and (max-width: 737px){
            font-size: 24px;
        }
    }

    &-left-image {
        width: 50%;
        height: 600px;
        background-color: white;
        border-radius: 30px;
        overflow: hidden;

        @media screen and (max-width: 875px){
            width: 100%;
            height: 400px;
        }
    }

    &-right-desc {
        width: 50%;
        height: 600px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: white;

        @media screen and (max-width: 875px){
            width: 100%;
        }
    }

    &-item-icon {
        color: #fff;
    }

    &-right-desc-item {
        width: 100%;
        border-radius: 12px;
        padding: 24px;
        background-color: #0d0e28;
        display: flex;
        gap: 20px;
    }

    &-item-subtitle {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &-item-subtitle-title {
        font-size: 18px;
        font-weight: 600;

        @media screen and (max-width: 737px){
            font-size: 16px;
        }
    }

    &-item-subtitle-desc {
        line-height: 110%;

        @media screen and (max-width: 737px){
            font-size: 12px;
        }
    }
}